$fontRegular: 'Biennale Regular';
$fontBold: 'Biennale Bold';
$fontLight: 'Biennale Light';

$primaryColor: #5E49FF;
$secondColor: #25CBD3;
$thirdColor: #F0F5FF;
$gray200: #F4F4F4;
$gray300: #DADADA;
$gray400: #7C7786;
$gray500: #4D4C4D;
$gray600: #333333;
$gray700: #E5E5E5;
$white: #FFFFFF;
$red: #FF0000;

$desktopBreakpoint: 992px;